@tailwind base;
@tailwind components;
@tailwind utilities;


/* Common style */
.my-btn-one{
  background: radial-gradient(black,goldenrod);
  font-size: 26px;
  color: white;
  padding: 10px 30px;
  font-weight: 700;
  border-radius: 40px;
  box-shadow: 0 0 5px black;
}

.my-bg-one{
  background: radial-gradient(black ,goldenrod )
}


/* active class for device icon */
.active-box-shadow{
  box-shadow: 0 0 5px grey, 0 0 5px goldenrod, 0 0 10px goldenrod, 0 0 15px white, 0 0 30px goldenrod;
}

.device-icon:hover, .my-coin:hover{
  box-shadow: 0 0 5px grey, 0 0 5px goldenrod, 0 0 10px goldenrod, 0 0 15px white, 0 0 30px goldenrod;
}


/* overwrite tailwind animate class */
.animate-spin {
  animation: spin 2s linear infinite;
}


/* progress transition */
progress::-webkit-progress-value {
  transition: 3s width;
}